.layout {
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
    .header {
        grid-area: 1/1/2/3;
        background-color: hsl(200, 50%, 50%);
    }
    .aside {
        grid-area: 2/1/4/2;
        // background-color: hsl(200, 50%, 50%);
    }
    .main {
        grid-area: 2/2/3/3;
        // background-color: gold;
    }
    .footer {
        grid-area: 3/2/4/3;
        // background-color: darkcyan;
    }
    h1 {
        font-family: 'Trebuchet MS';
        color: hsl(200, 50%, 50%);
        transition: color .5s;
    }

    h1:hover {
        font-family: 'Trebuchet MS';
        color: hsl(200, 80%, 30%);
    }
}